<?xml version="1.0" encoding="UTF-8"?>
<suite name="My Suite">
    <test name="My Test">
        <classes>


            <class name="US_402.US402_TC01"> </class>

            <class name="US_405.US405_TC01"> </class>

            <class name="US_406.US406_TC01"> </class>

            <class name="US_407.US407_TC01"> </class>

            <class name="US_408.US408_TC01"> </class>

            <class name="US_404.US404_TC01" > </class>

            <class name="US_409.US409_TC01"> </class>

            <class name="US_410.US410_TC01"> </class>

            <class name="US_403.US403_TC01"> </class>

        </classes>
    </test>
</suite>